
h1{
    color:rebeccapurple
}
.text-blue{
    color: blue
}
.head-div{
    width: 300px;
    height: 300px;
    background-color: purple;
    margin:20px;
    float: left;
}
.head-div>p{
    color: #ffffff
    
}
.head-div>h2{
    color: orange;
}
